body.email-signature {

  p {
    max-width: 100%;
  }

  .cta-msg {
    padding-bottom: 50px;

  }

  .add-this-text {
    @include span-columns(12);
    text-align: center;
    padding: 0 0 5px 0;

    @include media($large) {
      text-align: left;
    }

    @include media($medium) {
      text-align: left;
    }

  }

  form {
    @include span-columns(12);

    @include media($medium) {
      @include span-columns(6);
    }

    @include media($large) {
      @include span-columns(6);
      margin-right: 0;
    }

    .form-control {
      font-size: 1rem;
    }
  }

  .sig-container {
    @include span-columns(12);

    @include media($medium) {
      @include span-columns(6);
      margin-right: 0;
      padding: 0 0 30px 30px;
    }

    @include media($large) {
      @include span-columns(6);
      padding: 0 0 100px 100px;
    }

    .sig-preview {
      text-align: left;
    }
  }

  .help-text {
    @include span-columns(12);
    padding: 15px 0 75px 0;

    ol {
      list-style-type: decimal;
      padding-left: 22px;
    }

    li {
      padding-top: 15px;
    }
  }

}
