$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: none;
$form-box-shadow-focus: 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: 1.35rem;

fieldset {
  background: none;
  border: 0;
  margin: 0 0 ($base-line-height / 2) 0;
  padding: $base-line-height;
}

input,
label,
select {
  display: block;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

.form-actions {
  border: 0;
  font-size: 1rem;
  margin-bottom: 0;
  padding: 0;

  &.half {
    @include media($medium) {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}


.form-control {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: $gray-light;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-size: $form-font-size;
  font-weight: 300;
  margin-bottom: 1.5em;
  padding: 0.8em 1em;
  width: 100%;

  @include media($medium) {
    margin-bottom: 2em;
  }

  &.half {
    @include media($medium) {
      @include span-columns(6);
      @include omega(2n);
    }
  }
}


.form-control {
  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &.form-error {
    border-color: $red;
  }

  &.form-valid {
    border-color: $green;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  max-width: 100%;
  margin-bottom: $base-line-height;
}



// Form Containers
.form {
  .form-group {
    @include row;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .input-date {
    position: relative;

    &:after {
      @include position(absolute, 9px 9px null null);
      color: $netlify-green;
      content: '\f133';
      font-family: 'FontAwesome';
    }

    > input[type="text"] {
      padding-right: 30px;
    }
  }
}

.form-horizontal {
  .form-group {
    @include row;

    .control-label {
      @include span-columns(2);
      margin-bottom: 0;
    }

    .form-control {
      @include span-columns(10);
    }
  }
}


// Field Columns
.form-group {
  .span-25 {
    @include span-columns(3);
  }

  .span-33 {
    @include span-columns(4);
  }

  .span-50 {
    @include span-columns(6);
  }
}
